<% provide :title, "ニュースフィード" %>
<br>
<div class="container">
  <div class="row">
    <%= render "home/left" %>
    <div class="col-sm-9">
      <h3 class="text-center">ニュースフィード</h3>
      <hr>
      <div class="media">
        <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>
          <% @posts.each do |post| %>
            <div class="grid-item col-md-4 col-sm-4">
              <div class="media-grid">
                <%= link_to post do %>
                  <div class="img-wrapper">
                    <img src="<%= post.image.thumb.url %>" alt=""
                         class="img-responsive post-image"/>
                  </div>
                <% end %>
                <div class="media-info">
                  <div class="reaction pull-right">
                    <div class="rate">
                      <% if post.rating_averages.with_dimension(:favorite).present? %>
                        <div style="background-image: url(<%= image_path "big-star.png" %>);">
                          <%= post.rating_averages.with_dimension(:favorite).avg %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="user-info" style="margin-top: 5px">
                    <img src="<%= post.user.avatar.thumb.url %>" alt=""
                         class="profile-photo-sm pull-left" style="box-shadow: 0 0 1px black; margin-right: 5px"/>
                    <div class="user">
                      <h6 style="margin-top: 5px">
                        <%= link_to post.user.name, post.user, class: "profile-link" %>
                      </h6>

                    </div>
                    <hr>
                    <p><%= post.content.truncate_words 35 %></p>
                    <span class="text-success"><i class="fa fa-clock-o fa-fw"></i><%= time_ago_in_words(post.created_at) %> ago</span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr>
      <%= paginate @posts,theme: 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>
