<br>
<div class="container">
  <div class="row">
    <%= render "home/left" %>
    <div class="col-sm-7">
      <h3 class="text-center">検索結果</h3>
      <hr>
      <% if @posts.size == 0 %>
        <h1 class="text-center">No result</h1>
      <% end %>
      <div class="media">
        <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>
          <% @posts.each do |post| %>
            <div class="grid-item col-md-6 col-sm-6">
              <div class="media-grid">
                <%= link_to post do %>
                  <div class="img-wrapper">
                    <img src="<%= post.image.thumb.url %>" alt=""
                         class="img-responsive post-image"/>
                  </div>
                <% end %>
                <div class="media-info">

                  <div class="user-info">
                    <img src="<%= post.user.avatar.thumb.url %>" alt=""
                         class="profile-photo-sm pull-left"/>
                    <div class="user">
                      <h6>
                        <%= link_to post.user.name, post.user, class: "profile-link" %>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <hr>
        <%= paginate @posts, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</div>
