<% provide :title, "#{@user.name} プロフィール" %>
<div class="container">
  <div class="timeline">
    <div class="timeline-cover"
         style="background-image: url(<%= @user.cover.thumb.url %>); background-size: cover;">
      <%= render "users/header" %>
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <% if user_signed_in? %>
              <% if current_user.id == @user.id %>
                <div class="col-sm-12">
                  <h3>あなたは何を考えていますか？ <a href="<%= new_post_path %>" class="btn btn-primary pull-right"><i class="fa fa-plus fa-fw"></i>新しいレビュー</a></h3>
                </div>
              <% else %>
                <hr>
              <% end %>

            <% end %>
            <% @posts.each do |post|  %>
              <!-- Post Content
              ================================================= -->
              <div class="post-content">
                <!--Post Date-->
                <div class="post-date hidden-xs hidden-sm">
                  <p class="text-grey" style="padding-top: 6px"><%= time_ago_in_words(post.created_at) %> ago</p>
                </div><!--Post Date End-->
                <%= link_to post do %>
                  <img src="<%= post.image.url %>" alt="post-post" class="img-responsive post-post" />
                <% end %>
                <div class="post-container">
                  <img src="<%= @user.avatar.thumb.url %>" alt="user" class="profile-photo-md pull-left" />
                  <div class="post-detail">
                    <div class="user-info">
                      <h5><%= link_to post.user.name, post.user, class: "profile-link" %></h5>
                      <p class="text-muted">写真を公開しました</p>
                    </div>
                    <div class="reaction timeline">
                      <div class="rate" id="rate-wrapper">
                        <% if post.rating_averages.with_dimension(:favorite).present? %>
                          <div style="background-image: url(<%= image_path "big-star.png" %>)" id="rate">
                            <%= post.rating_averages.with_dimension(:favorite).avg %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <hr>
            <%= paginate @posts,theme: 'twitter-bootstrap-3' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
