<div class="container-fluid hero" style="background-image: url(<%= asset_path "hero.jpg" %>)">
  <h1 class="text-center">旅行の場所」のレビューサイト</h1>
  <div id="namer">
    <div id="namer-input">
      <input type="text" name="namername" placeholder="Type your search">
    </div>
  </div>
</div>

<div class="container wrapper">
  <div class="row">
    <%= render "home/left" %>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <h3>あなたは何を考えていますか？ <a href="<%= new_post_path %>" class="btn btn-primary pull-right"><i class="fa fa-plus fa-fw"></i>新しいレビュー</a></h3>
        </div>
      </div>
      <div class="row">
        <hr>

        <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true }'>
          <% @posts.each do |post| %>
            <div class="grid-item col-md-4 col-sm-4">
              <div class="media-grid">
                <%= link_to post do %>
                  <div class="img-wrapper">
                    <img src="<%= post.image.thumb.url %>" alt=""
                         class="img-responsive post-image"/>
                  </div>
                <% end %>
                <div class="media-info">
                  <div class="reaction">
                    <span class="pull-right" style="padding-top: 5px"><%= time_ago_in_words(post.created_at) %> ago</span>
                  </div>
                  <div class="user-info">
                    <img src="<%= post.user.avatar.thumb.url %>" alt=""
                         class="profile-photo-sm pull-left"/>
                    <div class="user">
                      <h6>
                        <%= link_to post.user.name, post.user, class: "profile-link" %>
                      </h6>

                    </div>
                    <hr>
                    <p><%= post.content %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <hr>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
