<div class="container">
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Edit レビュー</h3>
      </div>
      <div class="panel-body">
        <%= form_with model: @post, url: post_path(@post), method: :patch, local: true do |f|  %>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <%= f.label "Title", class: "control-label pmd-input-group-label" %>
            <%= f.text_field :title, class: "form-control", required: true %>
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <%= f.label "Address", class: "control-label pmd-input-group-label" %>
            <%= f.text_field :address, class: "form-control", required: true %>

          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <%= f.label "Content", class: "control-label pmd-input-group-label" %>
            <%= f.text_area :content, class: "form-control", required: true %>
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <%= f.label "Image", class: "control-label pmd-input-group-label" %>
            <%= f.file_field :image, class: "form-control" %>
          </div>
          <img src="<%= @post.image.thumb.url %>" alt="" class="img-responsive center-block">
          <hr>
          <button type="submit" class="btn btn-success btn-lg">Update</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
