<br>
<div class="container">
  <div class="row">
    <%= render "home/left" %>
    <div class="col-sm-7">
      <!-- Post Content
            ================================================= -->
      <% if user_signed_in? %>
        <% if current_user.id == @post.user.id  %>
          <h3>
            <%= link_to edit_post_path(@post), class: "pull-right", "data-toggle": "tooltip",
                        title: "画像を編集する", "data-placement": "bottom" do %>
              <i class="fa fa-cog fa-fw"></i>
            <% end %>
            <%= link_to post_path(@post), method: :delete, class: "pull-right",title: "画像を削除する",
                        "data-toggle": "tooltip", "data-placement": "bottom" ,data: {confirm: "確信してるの？"} do %>
              <i class="fa fa-trash fa-fw text-danger"></i>
            <% end %>
          </h3>
        <% end %>
      <% end %>
      <div class="post-content">
        <h2 class="text-center"><%= @post.title %></h2>
        <img src="<%= @post.image.url %>" alt="post-image" class="img-responsive post-image" />
        <div class="post-container">
          <img src="<%= @post.user.avatar.thumb.url %>" alt="user" class="profile-photo-md pull-left" />
          <div class="post-detail">
            <div class="user-info">
              <h5>
                <%= link_to @post.user.name, "#", class: "profile-link" %></h5>
              <p class="text-muted"><%= time_ago_in_words(@post.created_at) %> ago 写真を公開しました</p>
              <p class="text-muted"><i class="fa fa-map-marker"></i> <%= @post.address %></p>
            </div>
            <div class="reaction">
            </div>
            <div class="line-divider"></div>
            <div class="post-text">
              <p><%= @post.content %></p>
            </div>
            <div class="line-divider"></div>
            <%= paginate @comments %>
            <% @comments.each do |comment| %>
              <div class="post-comment" id="comments">
                <img src="<%= comment.user.avatar.thumb.url %>" alt="" class="profile-photo-sm" />

                <p>
                  <a href="<%= user_path comment.user %>" class="profile-link"><%= comment.user.name %> </a>
                  <i class="em em-laughing"></i>
                  <%= comment.body %>
                  <br>
                  <small>
                    <%= time_ago_in_words comment.updated_at %> ago
                    <% if comment.user_id == current_user.id %> |
                      <%= link_to post_comment_path(@post, comment), method: :delete, data: {confirm: "確信してるの？"} do %>
                        <i class="fa fa-trash fa-fw text-danger"></i>
                      <% end %>
                    <% end %>
                  </small>
                </p>

              </div>
            <% end %>
            <hr>
            <% if user_signed_in? %>
              <%= form_for :comment, url: post_comments_path(@post) do |f| %>
                <div class="post-comment" id="comment">
                  <img src="<%= current_user.avatar.thumb.url %>" alt="" class="profile-photo-sm" />
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.text_field :body, class: "form-control", placeholder: "コメントを投稿", required: true %>
                </div>
              <% end %>
            <% end %>
            <script type="text/javascript" charset="utf-8">
              jQuery(document).ready(function($) {
                $('#input').keypress(function (event) {
                  if(event.keyCode === 10 || event.keyCode === 13){
                    $('form').submit();
                  }
                });
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
